<head>
    <title>Ver o mapa do cartão transporte para os ônibus de Curitiba: onde emitir e carregar o seu cartão.</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />

    <meta name="description" content="Que usuário de ônibus de Curitiba nunca se viu perdido sem saber onde recarregar seu cartão de transporte? Por isso criamos o Kartão, um mapa simples e intuitivo onde se pode consultar o local mais próximo de você para recarga ou compra do seu cartão transporte da cidade.">
    <meta name="author" content="Kartao.com.br">
    <meta name="keywords" content="cartão, transporte, onibus, curitiba, mapa, urbs, usuário, banca">

    <!-- meta OG -->
    <meta property="og:title" content="Ver o mapa do cartão transporte para os ônibus de Curitiba: onde emitir e carregar o seu cartão."/>
    <meta property="og:site_name" content="Kartao.com.br"/>
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Que usuário de ônibus de Curitiba nunca se viu perdido sem saber onde recarregar seu cartão de transporte? Por isso criamos o Kartão, um mapa simples e intuitivo onde se pode consultar o local mais próximo de você para recarga ou compra do seu cartão transporte da cidade."/>
    <meta property="og:url" content="http://kartao.com.br" />
    <meta property="og:image" content="http://kartao.com.br/public/img/kartao.jpg"/>

	<!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>
</body>
