<template name="sidebar">

    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js,
                fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.4&appId=871255366303296";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Navigation -->
    <a class="btn btn-light btn-lg toggle" href="#" id="menu-toggle">
        <i class="fa fa-bars"></i>
    </a>

    <nav class="active" id="sidebar-wrapper">
        <a class="btn btn-light btn-lg pull-right toggle" href="#" id="menu-close">
            <i class="fa fa-times"></i>
        </a>

        <div class="brand">
            <img alt="Kartão" class="logo" src="img/kartao.png" title="Kartão"/>
        </div>

        <div class="content">
            <!-- <button class="btn btn-info" data-toggle="modal" data-target="#veiculoModal">Modal</button> -->

			<h4>Ache fácil os lugares onde:</h4>

            <table>
                <thead>
                    <tr>
                        <th width="20%"></th>
                        <th width="80%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="image">
                            <img src="img/venda.png"/>
                        </td>
                        <td>
                            <p>Comprar e recarregar
                                <br>cartões avulsos ou cartões usuários</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="image">
                            <img src="img/posto.png"/>
                        </td>
                        <td>
                            <p>Emitir seu cartão transporte usuário</p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>

            <label for="selectVeiculo">Onde está meu ônibus?
            </label>

            <br>

            <select id="selectLinha">
                {{#each linhas }}
                    <option value="{{ value }}">{{ label }}</option>
                {{/each}}
            </select>

        </div>

        <div class="footer">
            <div class="share">
                <div class="fb-share-button" data-href="http://kartao.com.br" data-layout="button_count"></div>
                <a class="twitter-share-button" data-text="Mapa para comprar e recarregar cartão transporte em Curitiba" data-url="http://kartao.com.br" data-via="KartaoCuritiba" href="https://twitter.com/share">Tweet</a>
                <script>
                    !function(d, s, id) {
                        var js,
                            fjs = d.getElementsByTagName(s)[0],
                            p = /^http:/.test(d.location)
                                ? 'http'
                                : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');
                </script>
            </div>
            <div class="references">
                <table class="block_urbs">
                    <tr>
                        <td>
                            Saiba mais sobre o cartão transporte
                        </td>
                        <td>
                            <a href="http://www.urbs.curitiba.pr.gov.br/utilidades/cartao-transporte" target="urbs">
                                <img alt="URBS" class="img_urbs img_legend" src="img/urbs.png" title="URBS"/>
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="block_cfc">
                    <tr>
                        <td>
                            Com a colaboração de
                        </td>
                        <td>
                            <a href="http://www.codeforamerica.org/brigade/Code-for-Curitiba" target="codeforcuritiba">
                                <img alt="Code For Curitiba" class="img_codeforcuritiba img_legend" src="img/codeforcuritiba.png" title="Code For Curitiba"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>

	<!-- FULLSCREEN MODAL CODE (.fullscreen) -->
	<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade fullscreen" id="veiculoModal" role="dialog" tabindex="-1">
	    <div class="modal-dialog">
	        <div class="modal-content" style="color:#fff;">
	            <div class="modal-header" style="border:0;">
	                <button aria-hidden="true" class="close btn btn-link" data-dismiss="modal" type="button">
	                    <i class="fa fa-close fa-lg" style="color:#999;"></i>
	                </button>
	                <h4 class="modal-title text-center">
	                    <span class="sr-only">main navigation</span>
	                </h4>
	            </div>
	            <div class="modal-body veiculo">
					<div class="container">
						<h3>LN007 <small>182. Abranches</small></h3>
						<ul class="atributos">
							<li>icon 1</li>
							<li>icon 2</li>
							<li>icon 3</li>
						</ul>
						<div class="ultima-atualizacao">Atualizado: </div>
					</div>
	            </div>
	        </div>
	        <!-- /.modal-content -->
	    </div>
	    <!-- /.modal-dialog -->
	</div>
	<!-- /.fullscreen -->
</template>
