<template name="sidebar">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-light btn-lg toggle"><i class="fa fa-bars"></i></a>

    <nav id="sidebar-wrapper" class="active">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>

        <div class="brand">
            <img src="img/kartao.png" title="Kartão" alt="Kartão" class="logo" />
        </div>

        <div class="content">
            <h4>Ache fácil os lugares onde:</h4>

            <table>
                <thead>
                    <tr>
                        <th width="20%"></th>
                        <th width="80%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="image">
                            <img src="img/venda.png"/>
                        </td>
                        <td>
                            <p>Comprar e recarregar
                            <br>cartões avulsos ou cartões usuários</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="image">
                            <img src="img/posto.png"/>
                        </td>
                        <td>
                            <p>Emitir seu cartão transporte usuário</p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="footer">
            <div class="share">
                <div class="fb-share-button" data-href="http://kartao.com.br" data-layout="button_count"></div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://kartao.com.br" data-text="Mapa para comprar e recarregar cartão transporte em Curitiba" data-via="KartaoCuritiba">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="references">
                <table class="block_urbs">
                    <tr>
                        <td>
                            Saiba mais sobre o cartão transporte
                        </td>
                        <td>
                            <a href="http://www.urbs.curitiba.pr.gov.br/utilidades/cartao-transporte" target="urbs">
                                <img src="img/urbs.png" class="img_urbs img_legend" title="URBS" alt="URBS"/>
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="block_cfc">
                    <tr>
                        <td>
                            Com a colaboração de
                        </td>
                        <td>
                            <a href="http://www.codeforamerica.org/brigade/Code-for-Curitiba" target="codeforcuritiba">
                                <img src="img/codeforcuritiba.png" class="img_codeforcuritiba img_legend"
                                title="Code For Curitiba" alt="Code For Curitiba"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>

</template>